<!--
  Generated template for the VistorRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>客户跟进</ion-title>
    <!-- <ion-buttons end>
      <button ion-button>跟进记录</button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      客户基本资料<span class="state state-{{person.statenum}}">{{person.statedesc}}</span>
    </ion-card-header>
    <!-- <h2>客户基本资料<span class="state state-{{person.statenum}}">{{person.statedesc}}</span></h2> -->
    <ion-item>
      <ion-label>客户手机</ion-label>
      <ion-input [(ngModel)]="person.telephone" [disabled]="mobileReadonly"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>客户姓名</ion-label>
      <ion-input [(ngModel)]="person.custname" placeholder="输入姓名"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>客户性别</ion-label>
      <div class="select-box" item-right>
        <span class="select-item" tappable (click)="person.sex = '男'">
          <ion-icon name="{{ person.sex == '男' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 男</span>
        <span class="select-item" tappable (click)="person.sex = '女'">
          <ion-icon name="{{ person.sex == '女' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 女</span>
      </div>
    </ion-item> -->
    
    <ion-row class="custom-item-box">
        <ion-col col-3>
          <span class="custom-label">客户性别</span>
        </ion-col>
        <ion-col col-9>
          <ion-row class="custom-item-right">
              <div class="select-box" item-right>
                  <span class="select-item" tappable (click)="person.sex = '男'">
                    <ion-icon name="{{ person.sex == '男' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 男</span>
                  <span class="select-item" tappable (click)="person.sex = '女'">
                    <ion-icon name="{{ person.sex == '女' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 女</span>
                </div>
          </ion-row>
        </ion-col>
      </ion-row>

    <ion-item>
      <ion-label>知晓途径</ion-label>
      <ion-input [(ngModel)]="person.knowway" placeholder="请输入" [disabled]="knowwayReadonly"></ion-input>
    </ion-item>

    <button ion-item (click)="selectPersonSource();" *ngIf="followtype == '20'">
      来源类型
      <span class="placeholder">{{person.srctypename || '请选择'}}</span>
      <button ion-button item-right *ngIf="person.callid && person.callid != '0' && person.callid != 'NULL' && person.srctypename && person.srctypename != 'NULL'" (click)="changeSRCType();">
        发起变更
      </button>
    </button>
    <button ion-item (click)="selectSourceDetail();" *ngIf="followtype == '20' && !!source">
        {{source.descname}}{{source.descname == '老业主' ? '&emsp;' : ''}}
      <span class="placeholder">{{source.label || '请选择'}}</span>
    </button>
    <ion-item *ngIf="followtype == '20'">
      <ion-label>来源备注</ion-label>
      <ion-input [(ngModel)]="person.srcmemo" placeholder="输入客户来源备注"></ion-input>
    </ion-item>

    <button ion-item (click)="selectCardType();" *ngIf="followtype == '20'">
      证件类型
      <span class="placeholder">{{person.cardtypename || '请选择'}}</span>
    </button>

    <ion-item *ngIf="followtype == '20'">
      <ion-label>证件号码</ion-label>
      <ion-input [(ngModel)]="person.cardno" placeholder="输入证件号码"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      客户跟进录入
    </ion-card-header>
    <!-- <ion-item>
      <ion-label>跟进方式</ion-label>
      <div class="select-box" item-right>
        <span class="select-item" tappable (click)="person.followtype = '来电'">
          <ion-icon name="{{ person.followtype == '来电' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 来电</span>
        <span class="select-item" tappable (click)="person.followtype = '来访'">
          <ion-icon name="{{ person.followtype == '来访' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 来访</span>
          <span class="select-item" tappable (click)="person.followtype = '回访'">
              <ion-icon name="{{ person.followtype == '回访' ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> 回访</span>
      </div>
    </ion-item> -->
    <ion-row class="custom-item-box">
        <ion-col col-3>
          <span class="custom-label">跟进方式</span>
        </ion-col>
        <ion-col col-9>
          <ion-row class="custom-item-right">
              <div class="select-box" item-right>
                <span class="select-item" *ngFor="let type of followtypes" 
                  tappable (click)="selectFollowType(type);">
                    <ion-icon name="{{ currentFollowType == type.value ? 'ios-radio-button-on-outline' : 'ios-radio-button-off-outline' }}"></ion-icon> {{type.label}}</span>
                </div>
          </ion-row>
        </ion-col>
      </ion-row>
    <!-- <ion-item>
      <ion-label item-left>购房意愿</ion-label>
      <div class="button-group" item-right>
        <ion-row>
          <ion-col col-4 *ngFor="let btn of buttons">
            <span class="custom-btn" [class.active]="btn.selected" tappable (click)="selectBtn(btn);">{{btn.label}}</span>
          </ion-col>
        </ion-row>
      </div>
    </ion-item> -->
    <ion-row class="custom-item-box">
      <ion-col col-3>
        <span class="custom-label">购房意愿</span>
      </ion-col>
      <ion-col col-9>
        <ion-row class="custom-item-right">
          <ion-col col-4 *ngFor="let btn of buttons">
            <span class="custom-btn" [class.active]="btn.selected" tappable (click)="selectBtn(btn);">{{btn.label}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label>跟进内容</ion-label>
      <ion-textarea placeholder="输入跟进内容" rows="6" [(ngModel)]="followcontent">

      </ion-textarea>
    </ion-item>
  </ion-card>
  <ion-card>
    <button ion-item (click)="viewHistory();">
      跟进历史
      <ion-note item-right>{{person.followcnt || 0}}次</ion-note>
    </button>
    <button ion-item (click)="openSurvey();">
      问卷调查
    </button>
  </ion-card>

  <div padding>
    <button ion-button full (click)="save();">保存</button>
  </div>
</ion-content>
