page-vistor-register {
    .item-ios {
        border-bottom: 0.55px solid #e6e6e6;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .placeholder {
        color: #999;
        padding-left: 20px;
    }

    ion-card-header {
        color: #666!important;
    }

    .state {
        display: block;
        float: right;
        font-size: 12px;
        text-align: center;
        font-weight: normal;
        // background: red;
        padding: 2px 5px;
        border-radius: 2px;
        color: white;
    }

    .state-0 {
        background: color($colors, primary);
    }

    .state-30 {
        background: color($colors, dark);
    }

    .state-40 {
        background: color($colors, danger);
    }

    .select-box {
        // background: red;
        // margin-left: -16px;
        // padding-right: 10px;
        // margin-left: 50px;
        .select-item {
            padding-right: 10px;
            color: #666;
            font-size: 18px;
        }
    }

    .custom-btn {
        display: block;
        background: rgb(235,235,235);
        width: 100%;
        height: 44px;
        line-height: 44px;
        text-align: center;
        font-size: 14px;
        // padding: 10px 0;
        &.active {
            background:rgb(40, 141, 218);
            color: white;
        }
    }

    .custom-item-box {
        padding: 10px;
        border-bottom: 0.55px solid #e6e6e6;
        .custom-item-right {
            padding-left: 12px;
        }
    }

    .custom-label {
        display: inline-block;
        color: #666;
        font-size: 16px;
    }

}
