page-source-change {
    .placeholder {
        color: #999;
        padding-left: 20px;
    }

    .item-ios {
        border-bottom: 0.55px solid #e6e6e6;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
