page-vistors-query {
    .item-ios {
        border-bottom: 0.55px solid #e6e6e6;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .placeholder {
        color: #999;
        padding-left: 20px;
    }

    .buttons {
        padding: 10px 12px;
    }
}
