page-home {
    .sections {
        // padding: 15px;
        ion-grid {
            margin: 0;
            padding: 0;
        }
        ion-row,ion-col {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .section {
            // text-align: center;
            padding: 30px 10px 0 10px;
            p {
                margin: 0;
                padding: 0;
            }

            .icon-wrap {
                ion-icon {
                    font-size: 30px!important;
                    color: color($colors, primary);
                }
                margin-bottom: 10px;
            }

            .name {
                font-size: 14px;
                color: #666;
            }
        }
    }
}
