page-home {
    .stats {
        background: color($colors, primary);
        padding: 5px 15px!important;
        color: white;
        font-size: 14px;
        font-family: 'PingFang SC', Arial, Helvetica, sans-serif;

        .project-wrap {
            text-align: center;
            margin-top: -10px;
            // button {
            //     font-size: 16px!important;
            //     padding: 5px 0;
            // }
        }

        .stat-wrap {
            display: flex;
            margin-bottom: 10px;
            .stat-item {
                flex: 1;
                text-align: center;
                // font-family: 'PingFang SC',Arial, Helvetica, sans-serif;
                // border-right: 0.55px solid rgba(255,255,255,0.4);
                // padding-left: 10px;
                // &.right {
                //     text-align: right;
                // }
                .value {
                    font-weight: 700;
                }
                // &:first-child {
                //     padding-left: 0;
                // }
                // &:last-child {
                //     border-right: 0;
                // }
                // font-size: 14px;
                .digit {
                    font-size: 16px;
                }
                // .unit {
                //     font-size: 16px;
                // }
                .money, .sm-unit {
                    font-size: 10px;
                    font-weight: normal;
                }
            }
        }
        
    }

    .plan-section {
        padding: 15px;
        border-bottom: 0.55px solid #f6f6f6;
        .scope-area {
            text-align: center;
            .seg-bar {
                font-size: 0;
                .seg-item {
                    display: inline-block;
                    height: 28px;
                    line-height: 28px;
                    padding: 0 15px;
                    border: 1px solid #eee;
                    background: #fff;
                    font-size: 14px;
                    color: #666;
                    cursor: pointer;
                    user-select: none;
                    &.active {
                        background-color: rgb(231,90,22);
                        color: #fff;
                        border-color: rgb(231,90,22);
                    }
                    &:first-child {
                        border-top-left-radius: 14px;
                        border-bottom-left-radius: 14px;
                        border-right: 0;
                    }
                    &:last-child {
                        border-top-right-radius: 14px;
                        border-bottom-right-radius: 14px;
                        border-left: 0;
                    }
                }
            }
            .tip-area {
                margin: 10px;
                font-size: 12px;
                color: #666;
                .real {
                    color: rgb(231,90,22);
                }
            }
        }
        .data-wrap {
            ion-row,ion-col {
                margin: 0;
                padding: 0;

            }
            .plan-box {
                .item {
                    text-align: center;
                    .money {
                        font-size: 12px;
                        color: rgb(231,90,22);
                        font-family: 'PingFang SC';
                    }
                    .count {
                        font-size: 16px;
                        color: rgb(231,90,22);
                        font-family: 'PingFang SC';
                        // font-weight: 500;
                    }
                    .date-tag {
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        font-size: 12px;
                        padding: 0 6px;
                        background: rgb(231,90,22);
                        color: #fff;
                        border-radius: 3px;
                    }
                }
                .plan {
                    margin-bottom: 10px;
                    .count,.money {
                        color: #666;
                    }
                }
            }
        }
    }

    .exception-stats {
        background: #fff;
        ion-row, ion-col {
            margin: 0;
            padding: 0;
        }

        
        .stat-box {
            padding: 10px 15px;
            // font-family: 'PingFang SC', Arial, Helvetica, sans-serif;
            font-size: 14px;
            &.b-right {
                border-right: 0.55px solid #f6f6f6;
            }
            &.b-bottom {
                border-bottom: 0.55px solid #f6f6f6;
            }
            // &.right {
            //     text-align: right;
            // }
            .name {
                // font-size: 16px;
                color: #333;
            }
            .digit {
                // font-size: 12px;
                color: #999;
            }
            .unit {
                // font-size: 12px;
                color: #999;
                padding-left: 3px;
                // font-size: 14px;
            }
        }
    }
    .splitor {
        width: 100%;
        height: 8px;
        background: rgb(241,242,243);
    }
    .sections {
        // padding: 15px;
        margin-bottom: 80px;
        ion-grid {
            margin: 0;
            padding: 0;
        }
        ion-row,ion-col {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .section {
            // text-align: center;
            padding: 30px 10px 0 10px;
           
            p {
                margin: 0;
                padding: 0;
            }

            // .icon-wrap {
            //     ion-icon {
            //         font-size: 30px!important;
            //         color: color($colors, primary);
            //     }
            //     margin-bottom: 10px;
            // }
            .icon {
                max-height: 28px;
                width: auto;
                margin-bottom: 5px;
            }

            .name {
                font-size: 14px;
                color: #333;
            }
        }
    }

    .limit-width {
        font-size: 14px;
    }
}
