page-survey {
    .options {
        margin-top: 15px;
        .opt {
            margin-top: 10px;

            .custom-input {
                border: 0.55px solid #e6e6e6;
                padding: 8px;
                font-size: 12px;
                width: 60%;
                margin-left: 20px;
                // float: right;
                // margin-top: 0;
            }

            .custom-textarea {
                border: 0.55px solid #e6e6e6;
                padding: 8px;
                font-size: 12px;
                width: 100%;
                margin-top: 5px;
            }
        }
    }

    
}
