<!--
  Generated template for the MyCustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>我的客户</ion-title>
    <ion-buttons end>
      <button ion-button class="limit-width" text-wrap (click)="selectProject();">{{currentProject.name || '选择项目'}} <ion-icon name="md-arrow-dropdown"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="white">
    <ion-segment [(ngModel)]="menuType" 
      mode="md"
      
      (ionChange)="segmentChanged($event)">
      <ion-segment-button value="{{menu.ID}}" *ngFor="let menu of menues">
        {{menu.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar color="white" *ngIf="!showPanel">
      <!-- <ion-searchbar placeholder="搜索"></ion-searchbar> -->
      <form action=".">
        <ion-searchbar
          #searchBar
          [(ngModel)]="keyword"
          cancelButtonText="取消"
          [ngModelOptions]="{standalone: true}"
          [showCancelButton]="true"
          (search)="startSearch(keyword)"
          placeholder="搜索"
          [animated]="false"
          name="search"
        >
        </ion-searchbar>
    </form>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty-error-box" *ngIf="!!error">
    {{error}}
  </div>
  <ion-list>
    <div *ngFor="let item of data" class="custom-card" tappable (click)="openItem(item);">
      <ion-item tappable (click)="selectItem(item);" *ngIf="menuType == '1'">
        <h2 text-wrap>
          {{item.telephone}}&nbsp;{{item.custname}}
          <ion-icon 
            [class.male]="item.sex == '1' || item.sex == '男'" 
            [class.female]="item.sex == '2' || item.sex == '女'" 
            name="{{item.sex == '1' || item.sex == '男' ? 'ios-male-outline' : 'ios-female-outline'}}">
          </ion-icon>
        </h2>
        <p text-wrap>上次跟进内容: {{item.content}}</p>
        <p>上次跟进时间: {{item.lastfollowdate | formatDate:'1'}}</p>
        <div item-right class="right-section">
          <!-- <span class="state state-{{item.type}}">{{item.typename}}</span> -->
          <p>跟进<span class="days">{{item.followcnt}}</span>次</p>
          <button ion-button clear (click)="callPhone(item, $event);"><ion-icon name="ios-call-outline"></ion-icon></button>
          <p class="left-days-warning" *ngIf="item.invaliddate && item.invaliddate !== 'NULL'">
            <span *ngIf="item.left_days !== 0">{{item.left_days_label}}{{item.left_days}}天过期</span>
            <span *ngIf="item.left_days === 0">即将过期</span>
          </p>
        </div>
        
      </ion-item>

      <ion-item tappable (click)="selectItem(item);" *ngIf="menuType == '6'">
        <h2 text-wrap>
          {{item.telephone}} {{item.custname}} 
          <ion-icon 
            [class.male]="item.sex == '1' || item.sex == '男'" 
            [class.female]="item.sex == '2' || item.sex == '女'" 
            name="{{item.sex == '1' || item.sex == '男' ? 'ios-male-outline' : 'ios-female-outline'}}">
          </ion-icon>
        </h2>
        <p>房号: {{item.house_no}}</p>
        <p text-wrap>{{item.abnormalsubname}}</p>
        <ion-badge item-right class="custom-badge" color="reply-{{item.is_reply}}">{{item.is_reply == '0' ? '未回复' : '已回复'}}</ion-badge>
      </ion-item>

      <ion-item *ngIf="menuType == '2' || menuType == '3'">
        <ion-row>
          <ion-col col-8>
              {{item.custnames}}
          </ion-col>
          <ion-col col-4 style="text-align: right">
              {{item.house_no}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7>
              <p *ngIf="menuType == '2'">认购日期: {{item.orderdate.split('T')[0]}}</p>
              <p *ngIf="menuType == '3'">签约日期: {{item.condate.split('T')[0]}}</p>
          </ion-col>
          <ion-col col-5 style="text-align: right;">
            <p>成交总价: <span class="title money">{{formatMoney(item.money)}}</span><span class="unit">万</span></p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="menuType == '2'">
          <ion-col col-8>
            <p>签约失效日期: {{item.plancondate.split('T')[0]}}</p>
          </ion-col>
          <ion-col col-4 style="text-align:right;">
            <p>{{item.left_days_label}}<span class="days">{{item.left_days}}</span>天</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
              <p>客户来源: {{item.sourcetype}}</p>
          </ion-col>
          <ion-col col-6 style="text-align: right;">
              <p>职业顾问: {{item.sellername}}</p>
          </ion-col>
        </ion-row>

        <!-- 
         <ion-row>
          <ion-col col-5>
            <p class="first-col"><span class="title people">{{item.custnames}}</span><br><span class="name">认购客户</span></p>
          </ion-col>
          <ion-col col-4>
            <p><span class="title house-no">{{item.house_no}}</span><br><span class="name">房号</span></p>
          </ion-col>
          <ion-col col-3>
              <p><span class="title money">{{formatMoney(item.money)}}</span><span class="unit">万</span><br>
                <span class="name">成交总价</span></p>
          </ion-col>

        </ion-row>
        <ion-row *ngIf="menuType == '2'" class="date-tip">
          <ion-col col-8>
            <p>签约失效日期: {{item.plancondate.split('T')[0]}}</p>
          </ion-col>
          <ion-col col-4 style="text-align:right;">
            <p>{{item.left_days_label}}<span class="days">{{item.left_days}}</span>天</p>
          </ion-col>
        </ion-row>
        <div class="extra-info">
          <ion-row>
            <ion-col col-6>
              <p>客户来源: {{item.sourcetype}}</p>
            </ion-col>
            <ion-col col-6 style="text-align: right;">
              <p *ngIf="menuType == '2'">认购日期: {{item.orderdate.split('T')[0]}}</p>
              <p *ngIf="menuType == '3'">签约日期: {{item.condate.split('T')[0]}}</p>
            </ion-col>
          </ion-row>
          <p>职业顾问: {{item.sellername}}</p>
        </div> 
      -->
        
        <!-- <div item-left>
            <h2>房号: {{item.house_no}}</h2>
            <p>成交总价: {{item.money}}元</p>
        </div>
        <div item-right class="right-section">
            <p>{{item.left_days_label}}<span class="days">{{item.left_days}}</span>天</p>
          </div>

        
         -->
        
      </ion-item>
    </div>
  </ion-list>

  <!-- <div class="overlay-wrap" [hidden]="!showPanel" tappable (click)="showPanel = false;">
      <div class="overlay-content" tappable (click)="$event.stopPropagation();">
          <ion-list>
            <ion-item *ngFor="let proj of projects" tappable (click)="selectProject(proj,$event);">
              {{proj.project_name}}
            </ion-item>
          </ion-list>
      </div>
    </div> -->
</ion-content>
