page-my-customer {
    .custom-card {
        ion-row, ion-col {
            margin: 0;
            padding: 0;
        }
        h2 {
            margin-bottom: 10px;
        }

        .male {
            color: rgb(101,142,223);
        }

        .female {
            color: rgb(232, 83, 177);
        }

        .state {
            // background: red;
            display: inline-block;
            font-size: 10px;
            padding: 2px 5px;
            border-radius: 2px;
            color: white;
            margin-left: 5px;
            margin-bottom: 5px;
            margin-top: 10px;
        }
    
        .state-1 {
            background: rgb(101,142,223);
        }
    
        .state-2 {
            background: rgb(132,196,159);
        }

        .right-section {
            text-align: center;
            p {
                font-size: 12px;
            }

            .days {
                color: color($colors, primary);
                padding: 0 3px;
                font-size: 18px;
            }

            ion-icon {
                font-size: 32px;
            }
        }
    }

    .overlay-wrap {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.6);
        top: 0;
        left: 0;
        .overlay-content {
            width: 100%;
            max-height: 60%;
            height: 60%;
            overflow: auto;
            background: white;
            border-top: 0.55px solid #e6e6e6;
        }
    }

    .name {
        font-size: 12px;
    }

    .people {
        font-size: 14px;
        color: #333;
        // padding-right: 5px;
    }

    .first-col {
        padding-right: 5px;
    }

    .money {
        font-size: 16px;
        color: color($colors, primary);
    }
    .house-no {
        font-size: 16px;
        color: rgb(101,142,223);
    }

    .unit {
        font-size: 10px;
    }

    .date-tip {
        padding-top: 10px!important;
    }

    .extra-info {
        margin-top: 5px;
        // font-size: 0.5rem;
        background-color: rgb(247,247,247);
        padding: 5px;
        p {
            font-size: 12px;
            color: #999;
        }
    }

    .custom-badge {
        padding: 4px 6px;
        border-radius: 2px;
        font-size: 12px; 
    }

    .limit-width {
        max-width: 120px;
        font-size: 14px;
    }
    
}
